html, body {margin: 0;padding: 0;height: 100%;display: block;}
head, meta, link, title {margin: 0;padding: 0;display: none;}
body {font-size: 10pt;font-family: "Segoe UI", Verdana, Tahoma, Arial;color: #454545;text-align: left;}
h1, h2, h3, h4, h5, h6 {color:#454545;}
a {color: #454545;text-decoration: underline;cursor: pointer;}
a.ovz {color: #ffffff;font-weight: bold;text-decoration: underline;cursor: pointer;}
a.menu {color: #ffffff;text-decoration: underline;cursor: pointer;}
a:link {color: #454545;}
a.ovz:link {color: #ffffff;font-weight: bold;}
a.menu:link {color: #ffffff;}
a:visited {color: #454545;}
a.ovz:visited {color: #ffffff;}
a.menu:visited {color: #ffffff;}
a:active {color: #454545;}
a.ovz:active {color: #ffffff;font-weight: bold;}
a.menu:active {color: #ffffff;}
a:hover {color: #454545;text-decoration: none;}
a.ovz:hover {color: #ffffff;font-weight: bold;text-decoration: none;}
a.menu:hover {color: #ffffff;text-decoration: none;}
hr {border: none;border-bottom: 1px dotted #ffffff;}
div.menu {padding: 15px;font-weight: bold;}
div.menu-select {padding: 15px;font-weight: bold;background-color: #ffffff;}
#outcontainer {min-width: 1270px;width: 100%;height: 100%;}
#topheader {width: 100%;height: 19px;color: #ffffff;font-weight: bold;background-color: rgb(0,128,128);text-align: right;}
#container {width: 100%;height: auto;}
#container_menu {float: left;width: 250px;height: auto;overflow: auto;background-color: rgb(0,128,128);}
#container_content {height: auto;overflow: auto;}
#footer {color: #ffffff;background-color: rgb(0,128,128);text-align: center;width: 100%;height: 30px;padding-top: 5px;}
table {width: 100%;font-size: 10pt;border-spacing: 0;border-collapse: collapse;}
table td {padding: 10px;border: 1px solid #454545;}
